.weatherinfo{     
width: 400px;
height: 450px;
z-index: 9;
border-radius: 20px;
background: hsla(0,0%,98%,.85);
top:300px;
position:fixed;
display: flex;
flex-direction: column;
justify-content: center;;
align-items: center;
left:calc(50% - 200px);
padding:32px;
box-shadow: 10px 10px 5px 0 hsla(0,0%,6%,.404);
}
.temperatura{
    font-size:5rem;
    font-weight: 700;
}